.header{
    padding: 20px 0;
    border-bottom: 1px solid $secondColor;
    .grid-header{
        
        @media #{$minSmall}{
            display: block;
            text-align: center;
        }
        @media #{$minMedium}{
            display: grid;
        grid-template-columns: repeat(10,auto);
        grid-template-rows: auto;
        gap: 10px;
        text-align: $text-left;
        }
       
        .logo{
            position: relative;
            grid-column: span 3;
           
            h1{
                margin-bottom: 0;
                margin-top: 10px;
            }
        }
        .navbar{
            grid-column: span 6;
            background-color: $mainColor;
            border-radius: 15px;
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: auto;
            @media #{$maxMobile}{
                display: none;
                border-radius: 0;
              
            }
            
        li{
            font-size: 18px;
            text-align: center;
            grid-column: span 1;
            a{
                color: #FFF;
                display: block;
                padding: 20px 10px;
                &:hover{
                    color: #DDD;
                   
                }
            }
            @media #{$maxMobile} {
                display: block;   
                text-align: center;
            }
        }
        }
    }
    
}