$maxMobile: "(max-width:767px)";
$maxSmall:"(max-width:991px)";
$minSmall:"(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";





$mainColor:#e2494c;
$secondColor:#9c9c9c;



$rotate:rotatey(180deg);
$visiblty:hidden;
$ltr:left;
$rtl:right;

$text-right:right;
$text-left:left;